/Greeter/Greeter/nbproject/private/
/Greeter/Greeter/dist/
/Greeter/Greeter/build/
/JUnitLab/JUnit-Sample/nbproject/private/
/JUnitLab/JUnit-Sample/build/
/JUnitLab/Banking/nbproject/private/
/JUnitLab/Banking/build/
/JUnitLab/ShapeIconAss/nbproject/private/
/JUnitLab/ShapeIcon/nbproject/private/
/JUnitLab/S/nbproject/private/
/JUnitLab/S/build/